<!-- Quantity Form -->
<form method="POST" action="{% url 'update_bag' item.item_id %}" class="form update-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-dark btn-sm rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input border-dark" type="number" 
                name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-dark btn-sm rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.size %}
                <input type="hidden" name="kicks_size" value="{{ item.size }}" id="bag_kicks">
            {% endif %}
        </div>
    </div>
</form>
<a href="#" class="update-link text-primary"><small>Update</small></a>
<a href="#" class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-kicks_size="{{ item.size }}"><small>Remove</small></a>