{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid my-black-text">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if kicks.image1 %}
                    <div id="kicks_carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#kicks_carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#kicks_carousel" data-slide-to="1"></li>
                            <li data-target="#kicks_carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{{ kicks.image1.url }}" target="_blank">
                                    <img src="{{ kicks.image1.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{{ kicks.image2.url }}" target="_blank">
                                    <img src="{{ kicks.image2.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{{ kicks.image3.url }}" target="_blank">
                                    <img src="{{ kicks.image3.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#kicks_carousel" role="button" data-slide="prev">
                            <span class="fas fa-angle-left fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#kicks_carousel" role="button" data-slide="next">
                            <span class="fas fa-angle-right fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png }}" alt="{{ kicks.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="kicks-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ kicks.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ kicks.price }}</p>
                    {% if kicks.brand %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'kicks' %}?brand={{ kicks.brand.name }}" class="text-muted">
                                <i class="fas fa-copyright mr-1"></i>{{ kicks.brand.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if kicks.style %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'kicks' %}?style={{ kicks.style.name }}" class="text-muted">
                                <i class="fas fa-star mr-1"></i>{{ kicks.style.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    <p class="mt-3">{{ kicks.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' kicks.sku %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">

                            <div class="col-12">
                                <p class="mb-2"><strong>Size:</strong></p>
                               
                                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                    <label class="btn btn-dark active">
                                    <input type="radio" name="size_origin" id="uk_size" value="uk_size" checked>UK
                                    </label>
                                    <label class="btn btn-dark">
                                    <input type="radio" name="size_origin" id="eu_size" value="eu_size">EU
                                    </label>
                                    <label class="btn btn-dark">
                                    <input type="radio" name="size_origin" id="us_size" value="us_size">US
                                    </label>
                                </div>
                               
                                {{ kicks.sex }}
                                <p id="demo"></p>

                                
                                {% if kicks.sex|lower == 'kids' %}
                                    <select class="form-control rounded-0 w-50" name="kicks_size" id='id_kicks_size'>

                                        {% for size in kids_sizes_uk %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}

                                    </select>
                                {% endif %}

                            </div>


                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ kicks.sku }}" id="id_qty_{{ kicks.sku }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'kicks' %}" class="btn my-white-btn rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn my-black-btn border-1 rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}

<script>

const kickSize = document.getElementById("id_kicks_size");
      
    function sizeUK(){
        kickSize.innerHTML = 
        `{% for size in kids_sizes_uk %}
            <option value="{{ size }}">{{ size }}</option>
        {% endfor %}`;
    }

    function sizeEU(){
        kickSize.innerHTML = 
        `{% for size in kids_sizes_eu %}
            <option value="{{ size }}">{{ size }}</option>
        {% endfor %}`;
    }

    function sizeUS(){
        kickSize.innerHTML = 
        `{% for size in kids_sizes_us %}
            <option value="{{ size }}">{{ size }}</option>
        {% endfor %}`;
    }

   
document.getElementById('uk_size').addEventListener("click", sizeUK);
document.getElementById('eu_size').addEventListener("click", sizeEU);
document.getElementById('us_size').addEventListener("click", sizeUS);


</script>

{% endblock %}