{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid my-black-text">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if kicks.image1 and kicks.image2 and kicks.image3 %}
                    <div id="kicks_carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#kicks_carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#kicks_carousel" data-slide-to="1"></li>
                            <li data-target="#kicks_carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{{ kicks.image1.url }}" target="_blank">
                                    <img src="{{ kicks.image1.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{{ kicks.image2.url }}" target="_blank">
                                    <img src="{{ kicks.image2.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{{ kicks.image3.url }}" target="_blank">
                                    <img src="{{ kicks.image3.url }}" class="d-block w-100" alt="{{ kicks.name }}">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#kicks_carousel" role="button" data-slide="prev">
                            <span class="fas fa-angle-left fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#kicks_carousel" role="button" data-slide="next">
                            <span class="fas fa-angle-right fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ kicks.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="kicks-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ kicks.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ kicks.price }}</p>
                    {% if kicks.brand %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'kicks' %}?brand={{ kicks.brand.name }}" class="text-muted">
                                <i class="fas fa-copyright mr-1"></i>{{ kicks.brand.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if kicks.style %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'kicks' %}?style={{ kicks.style.name }}" class="text-muted">
                                <i class="fas fa-star mr-1"></i>{{ kicks.style.friendly_name }}
                            </a>
                        </p>
                    {% endif %}

                    {% if kicks.sex %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'kicks' %}?sex={{ kicks.sex.name }}" class="text-muted">
                                {% if kicks.sex|lower == 'kids' %}
                                    <i class=" fas fa-child fa-lg mr-1"></i>{{ kicks.sex.friendly_name }}s
                                {% elif kicks.sex|lower == 'female' %}
                                    <i class="fas fa-female fa-lg mr-1"></i> {{ kicks.sex.friendly_name }}
                                {% elif kicks.sex|lower == 'male' %}
                                    <i class="ml-1 fas fa-male fa-lg mr-1"></i> {{ kicks.sex.friendly_name }}
                                {% endif %}
                            </a>
                        </p>
                    {% endif %}

                    {% if request.user.is_superuser %}
                        <p class="mt-1">
                            <small>
                                <a href="{% url 'edit_kicks' kicks.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_kicks' kicks.id %}">Delete</a>
                            </small>
                        </p>
                    {% endif %}

                    <p class="mt-3">{{ kicks.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' kicks.sku %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">

                            <div class="col-12">
                                <p class="mb-2"><strong>Size:</strong></p>
                               
                                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                    <label class="btn btn-dark active">
                                    <input type="radio" name="uk_size" id="uk_size" value="uk_size" checked>UK
                                    </label>
                                    <label class="btn btn-dark">
                                    <input type="radio" name="eu_size" id="eu_size" value="eu_size">EU
                                    </label>
                                    <label class="btn btn-dark">
                                    <input type="radio" name="us_size" id="us_size" value="us_size">US
                                    </label>
                                </div>

                                    <select class="form-control rounded-0 w-50 border-dark" name="{{ kicks.sex }}_size" id='kicks_size'>
                                        
                                        {% if kicks.sex|lower == 'kids' %}
                                            {% for size in kids_sizes_uk %}
                                                <option value="uk {{ size }}">{{ size }}</option>
                                            {% endfor %}
                                        {% elif kicks.sex|lower == 'female' %}
                                            {% for size in women_sizes_uk %}
                                                <option value="uk {{ size }}">{{ size }}</option>
                                            {% endfor %}
                                        {% elif kicks.sex|lower == 'male' %}
                                            {% for size in men_sizes_uk %}
                                                <option value="uk {{ size }}">{{ size }}</option>
                                            {% endfor %}
                                        {% endif %}
                         
                                    </select>

                            </div>
                            
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-dark rounded-0" 
                                                data-item_id="{{ kicks.id }}" id="decrement-qty_{{ kicks.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input border-dark" type="number" 
                                            name="quantity" value="1" min="1" max="99" 
                                            data-item_id="{{ kicks.id }}" id="id_qty_{{ kicks.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-dark rounded-0"
                                                data-item_id="{{ kicks.id }}" id="increment-qty_{{ kicks.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'kicks' %}" class="btn my-white-btn rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn my-black-btn rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/size_quantity_script.html' %}
{% endblock %}