html {
    height: 100%
}

body {
    background: url('/media/home_dark_hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #F5F5F5 ;
    font-family: 'Poppins';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* My Background Colours */
.my-white-back {
    background-color: #F5F5F5;
}

.my-black-back {
    background-color: #121416;
}

.my-yellow-back {
    background-color: #FEE440;
}

.my-red-back {
    background-color: #E63746;
}

/* My Text Colours */
.my-white-text {
    color: #F5F5F5;
}

.my-black-text {
    color: #121416;
}

.my-yellow-text {
    color: #FEE440 !important;
}

.my-red-text {
    color: #E63746;
}

.navbar-toggler {
    background-color: #FEE440;
}

/* Override Bootstrap colours for my Carousel icons */
.fa-angle-left, .fa-angle-right  {
    color: #121416 !important;
}

.carousel .carousel-indicators li {
    background-color: #121416;
}
.carousel .carousel-indicators li.active {
    background-color: #FEE440;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/*
.card:hover {
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      transition: all .55s ease-in-out;
    }
*/

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

/* -- Media Queries -- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Adjust navbar for mobile view */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);  /* Make sure you keep your offers small or this will affect navbar position */
    }
}
