<div class="collapse navbar-collapse" id="large-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="new-in-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-in-link">
                <a href="" class="dropdown-menu">Men</a>
                <a href="" class="dropdown-menu">Women</a>
                <a href="" class="dropdown-menu">Kids</a>
                <a href="" class="dropdown-menu">New Accessories</a>
                <a href="" class="dropdown-menu">All New In</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sales
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sales-link">
                <a href="" class="dropdown-menu">Men</a>
                <a href="" class="dropdown-menu">Women</a>
                <a href="" class="dropdown-menu">Kids</a>
                <a href="" class="dropdown-menu">Sales Accessories</a>
                <a href="" class="dropdown-menu">All Sales</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="men-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="men-link">
                <a href="" class="dropdown-menu">Brand</a>
                <a href="" class="dropdown-menu">Styles</a>
                <a href="" class="dropdown-menu">All Men Kicks</a>  <!-- Will add more at a later time -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="women-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-link">
                <a href="" class="dropdown-menu">Brand</a>
                <a href="" class="dropdown-menu">Styles</a>
                <a href="" class="dropdown-menu">All Women Kicks</a>  <!-- Will add more at a later time -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="" class="dropdown-menu">Brand</a>
                <a href="" class="dropdown-menu">Styles</a>
                <a href="" class="dropdown-menu">All Kids Kicks</a>  <!-- Will add more at a later time -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-menu">Brand</a>
                <a href="" class="dropdown-menu">Styles</a>
                <a href="" class="dropdown-menu">All Accessories</a>  <!-- Will add more at a later time -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5" id="tlc-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TLC
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tlc-link">
                <a href="" class="dropdown-menu">Kick Kindness</a>
                <a href="" class="dropdown-menu">Type</a>
                <a href="" class="dropdown-menu">Add New Link</a>  <!-- Will add more at a later time -->
            </div>
        </li>

    </ul>
</div>