

<div class="collapse navbar-collapse" id="large-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- New In Navbar Menu With Filters Depending On Link Selected -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link my-yellow-text font-weight-bold mr-5" id="new-in" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu" aria-labelledby="new-in">
                <a href="{% url 'kicks' %}?category=new_in&&sex=male,unisex" class="dropdown-item">Men</a>
                <a href="{% url 'kicks' %}?category=new_in&&sex=female,unisex" class="dropdown-item">Women</a>
                <a href="{% url 'kicks' %}?category=new_in&&sex=kids" class="dropdown-item">Kids</a>
                <a href="{% url 'accessories' %}?category=new_in" class="dropdown-item">Accessories</a>
                <a href="{% url 'kicks' %}?category=new_in" class="dropdown-item">All Kicks</a>
            </div>
        </li>

        <!-- Sales Navbar Menu With Filters Depending On Link Selected -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link my-yellow-text font-weight-bold mr-5" id="sales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sales
            </a>
            <div class="dropdown-menu" aria-labelledby="sales">
                <a href="{% url 'kicks' %}?category=sale_item&&sex=male,unisex" class="dropdown-item">Men</a>
                <a href="{% url 'kicks' %}?category=sale_item&&sex=female,unisex" class="dropdown-item">Women</a>
                <a href="{% url 'kicks' %}?category=sale_item&&sex=kids" class="dropdown-item">Kids</a>
                <a href="{% url 'accessories' %}?category=sale_item" class="dropdown-item">Accessories</a>
                <a href="{% url 'kicks' %}?category=sale_item" class="dropdown-item">All Kicks</a>
            </div>
        </li>

        <!-- Men Navbar Dropdown Menu With Added Submenus For Brands & Styles -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link my-yellow-text font-weight-bold mr-5" id="men" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <ul class="dropdown-menu" aria-labelledby="men">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Brand</a>
                    <ul class="dropdown-menu">
                        {% for brand in brands %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?brand={{ brand.name }}&&sex=male">{{ brand.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Style</a>
                    <ul class="dropdown-menu">
                        {% for style in styles %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?style={{ style.name }}&&sex=male">{{ style.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>

                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Colour</a>
                    <ul class="dropdown-menu">
                        {% for colour in colours %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?colour={{ colour.name }}&&sex=male">{{ colour.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>

                <li><a href="{% url 'kicks' %}?sex=male" class="dropdown-item">All Men Kicks</a></li>
            </ul>
        </li>

        <!-- Women Navbar Dropdown Menu With Added Submenus For Brands & Styles -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link my-yellow-text font-weight-bold mr-5" id="women" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="women">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Brand</a>
                    <ul class="dropdown-menu">
                        {% for brand in brands %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?brand={{ brand.name }}&&sex=female">{{ brand.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Style</a>
                    <ul class="dropdown-menu">
                        {% for style in styles %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?style={{ style.name }}&&sex=female">{{ style.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Colour</a>
                    <ul class="dropdown-menu">
                        {% for colour in colours %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?colour={{ colour.name }}&&sex=female">{{ colour.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li><a href="{% url 'kicks' %}?sex=female" class="dropdown-item">All Women Kicks</a></li>
            </ul>
        </li>

        <!-- Kids Navbar Dropdown Menu With Added Submenus For Brands & Styles -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link my-yellow-text font-weight-bold mr-5" id="kids" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <ul class="dropdown-menu" aria-labelledby="kids">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Brand</a>
                    <ul class="dropdown-menu">
                        {% for brand in brands %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?brand={{ brand.name }}&&sex=kids">{{ brand.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Style</a>
                    <ul class="dropdown-menu">
                        {% for style in styles %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?style={{ style.name }}&&sex=kids">{{ style.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Colour</a>
                    <ul class="dropdown-menu">
                        {% for colour in colours %}
                            <li><a class="dropdown-item" href="{% url 'kicks' %}?colour={{ colour.name }}&&sex=kids">{{ colour.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li><a href="{% url 'kicks' %}?sex=kids" class="dropdown-item">All Kids Kicks</a></li>  <!-- Will add more at a later time -->
            </ul>
        </li>

        <!-- Accessories Navbar Dropdown Menu With Added Submenus For Types -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link my-yellow-text font-weight-bold mr-5" id="accessories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <ul class="dropdown-menu" aria-labelledby="accessories">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Type</a>
                    <ul class="dropdown-menu">
                        {% for type in types %}
                            <li><a class="dropdown-item" href="{% url 'accessories' %}?type={{ type.name }}">{{ type.friendly_name }}</a></li>
                        {% endfor %}       
                    </ul>
                </li>
                <li><a href="{% url 'accessories' %}" class="dropdown-item">All Accessories</a></li>  <!-- Will add more at a later time -->
            </ul>
        </li>

        <!-- TLC Navbar Dropdown Menu -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link my-yellow-text font-weight-bold mr-5" id="tlc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TLC
            </a>
            <div class="dropdown-menu" aria-labelledby="tlc">
                <a href="" class="dropdown-item">Kick Kindness</a>
                <a href="" class="dropdown-item">Type</a>
                <a href="" class="dropdown-item">Add New Link</a>  <!-- Will add more at a later time -->
            </div>
        </li>

    </ul>
</div>


<script>
    /**
     * JS code for Dropright Submenus in Navbar (credited in README)
     */
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
        });

        return false;
    });

</script>