{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid my-black-text">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-uppercase">{{ accessories_title }}</h2>
                <hr class="w-50 mb-1">  
            </div>
        </div>
        <div class="row">
            <div class="accessories-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset">Sort by...</option>
                                <option value="price_asc">Price (low to high)</option>
                                <option value="price_desc">Price (high to low)</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                                <option value="type_asc">Type (A-Z)</option>
                                <option value="type_desc">Type (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'accessories' %}">Accessories Home</a> | </span>
                            {% endif %}
                            {{ accessories|length }} accessories
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for accessories in accessories %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                            <div class="card h-100 border-1 shadow">
                                {% if accessories.image1 %}
                                <a href="{% url 'accessory_detail' accessories.id %}">
                                    <img class="card-img-bottom img-fluid" src="{{ accessories.image1.url }}" alt="{{ accessories.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'accessory_detail' accessories.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png }}" alt="{{ accessories.name }}" class="card-img-top img-fluid">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 border-top">
                                    <p class="mb-0">{{ accessories.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ accessories.price }}</p>
                                            {% if accessories.type %}
                                            <p class="small mt-1 mb-0">
                                                <a href="{% url 'accessories' %}?type={{ accessories.type.name }}" class="text-muted">
                                                    <i class="fas fa-tag mr-1"></i>{{ accessories.type.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up my-black-text mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}