{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Edit Accessory Page -->
   <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="text-uppercase text-dark mb-4">Accessories Management</h2>
                <h5 class="text-muted">Edit An Accessory</h5>
                <hr>
            </div>
        </div>
        <!-- Edit Accessory Form -->
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_accessory' accessories.id %}" class="form mb-2 text-dark" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn my-white-btn rounded-0" href="{% url 'accessories' %}">Cancel</a>
                        <button class="btn my-black-btn rounded-0" type="submit">Update Accessory</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}