<div class="modal fade text-dark" id="confirm_accessory" tabindex="-1" aria-labelledby="confirm_accessory" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                {% if debug_flag %}
                    <img src="{{ toast_logo }}" class="mt-1" alt="Modal Logo Image">
                {% else %}
                    <img src="actual static link used in heroku">    <!-- Test this out once I deploy to Heroku (tip from my mentor posted on slack) -->
                {% endif %}

                <h5 class="modal-title mx-auto" id="confirm_accessory">Delete Confirmation !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this accessory?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn my-white-btn" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{% url 'delete_accessory' accessories.id %}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>